<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <form action="" method="post">
        <h1>Actualizar Inscripcion</h1>
        <label for="">Id Cliente:</label>
        <input type="text"  name="cedula" [(ngModel)]="inscripciones.idCliente">
        <label for="">Id Curso:</label>
        <input type="text"   name="nombre" [(ngModel)]="inscripciones.idCurso">
        <input type="submit" name="submit" (click)="update()">
      </form>
</body>
</html>
