<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="dropdownmenu">
        <ul>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/cliente">Listar Cliente</a></li>
        </ul>
    </nav>
    <br>
    <form action="" method="post">
        <h1>Registro InscripcionR</h1>
        <label for="">Id Cliente:</label>
        <input type="text" [(ngModel)]="inscripciones.idCliente" name="cedula" >
        <label for="">Id Curso:</label>
        <input type="text"  [(ngModel)]="inscripciones.idCurso" name="nombre">
        <input type="submit" name="submit" (click)="crearInscripcion()">
      </form>
</body>
</html>

